<p>Enter your name in the first box.</p>
<p>Enter whether you need need assitance or not in the second box</p> 
<p>Leave a note on your location/ what kind of assistance you need in the third box</p>

<form >
  <input [(ngModel)]="newName" name="newName" placeholder="Name">  
  <input [(ngModel)]="needHelp" name="needHelp" placeholder="Yes/No"> 
  <input [(ngModel)]="notes" name="notes" placeholder="Notes"> 
  <button (click)="addName()" >Add</button>
</form>

<table>
   <tr>
    <th>ID</th>
    <th>Person</th>
    <th>Need Assistance?</th> 
    <th>Notes</th>
    <th>Time Logged</th>
    <th>Delete?</th>
  </tr>
  <tr *ngFor="let name of names">
    <td>{{ name.pckt_id }}</td>
  	<td>{{ name.newName }}</td>
  	<td>{{ name.needHelp }}</td>
  	<td>{{ name.notes }}</td>
  	<td>{{ name.time }}</td>
    <td><button type="button" class="btn btn-danger" (click)="removeItem(name)">X</button></td>
  </tr>
</table>


